:root {
    --black: #17212b;
    --w-black: #212b35;
    --b-black: #111920;
    --yellow: #c79d5d;

    --w-container: 1440px;

    --space: "Space Mono", monospace;
}


body {
  background-color: var(--black);
  color: #ddd;
  font-size: 40px;
}

/* Style the navigation menu */
.topnav {
  overflow: hidden;
  background-color: var(--b-black);
  position: relative;
  border: 1px solid #555351;
  border-radius: 0 0 16px 16px;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
  border: 1px solid #555351;
}

/* Style navigation menu links */
.topnav a {
  color: white;
  padding: 5px 67px;
  text-decoration: none;
  font-size: 80px;
  display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
  background: var(--black);
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the active link (or home/logo) */
.active {
  background-color: var(--black);
  color: white;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: var(--w-black);
  background-clip: border-box;
  border: 0.5px solid #555351;
  border-radius: 16px;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  justify-content: center;
}

.card__header {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #0000;
  background-clip: border-box;
  border: 0.5px solid #555351;
  border-radius: 16px 16px 0 0;
}
.card__header.p {
  justify-items: center;
}